### Java ###
*.class
*.ctxt
hs_err_pid*

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Application ###
.env
application-secrets.properties

### Logs ###
*.log

### Others ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
